<thead>
<th class="active">Week 1</th>
</thead>
<tbody>
<tr>
    <td><%= week1.set1_reps %> @ <%= week1.set1_weight %> kg</td>
</tr>
<tr>
    <td><%= week1.set2_reps %> @ <%= week1.set2_weight %> kg</td>
</tr>
<tr>
    <td><%= week1.set3_reps %>+ @ <%= week1.set3_weight %> kg</td>
</tr>
</tbody>
<thead>
<th class="active">Week 2</th>
</thead>
<tbody>
<tr>
    <td><%= week2.set1_reps %> @ <%= week2.set1_weight %> kg</td>
</tr>
<tr>
    <td><%= week2.set2_reps %> @ <%= week2.set2_weight %> kg</td>
</tr>
<tr>
    <td><%= week2.set3_reps %>+ @ <%= week2.set3_weight %> kg</td>
</tr>
</tbody>
<thead>
<th class="active">Week 3</th>
</thead>
<tbody>
<tr>
    <td><%= week3.set1_reps %> @ <%= week3.set1_weight %> kg</td>
</tr>
<tr>
    <td><%= week3.set2_reps %> @ <%= week3.set2_weight %> kg</td>
</tr>
<tr>
    <td><%= week3.set3_reps %>+ @ <%= week3.set3_weight %> kg</td>
</tr>
</tbody>
<th class="active">Week 4, Deload</th>
<tbody>
<tr>
    <td><%= week4.set1_reps %> @ <%= week4.set1_weight %> kg</td>
</tr>
<tr>
    <td><%= week4.set2_reps %> @ <%= week4.set2_weight %> kg</td>
</tr>
<tr>
    <td><%= week4.set3_reps %> @ <%= week4.set3_weight %> kg</td>
</tr>
</tbody>