<thead>
<th class="active"><%= name %></th>
</thead>
<tbody>
<tr>
    <td><%= set1_reps %> @ <%= set1_weight %> kg</td>
</tr>
<tr>
    <td><%= set2_reps %> @ <%= set2_weight %> kg</td>
</tr>
<tr>
    <td><%= set3_reps %>+ @ <%= set3_weight %> kg</td>
</tr>
</tbody>