<thead>
<th class="active">Week 1</th>
</thead>
<tbody>
<tr>
    <td><%= week1_set1_reps %> @ <%= week1_set1_weight %> kg</td>
</tr>
<tr>
    <td><%= week1_set2_reps %> @ <%= week1_set2_weight %> kg</td>
</tr>
<tr>
    <td><%= week1_set1_reps %>+ @ <%= week1_set3_weight %> kg</td>
</tr>
</tbody>
<thead>
<th class="active">Week 2</th>
</thead>
<tbody>
<tr>
    <td><%= week2_set1_reps %> @ <%= week2_set1_weight %> kg</td>
</tr>
<tr>
    <td><%= week2_set2_reps %> @ <%= week2_set2_weight %> kg</td>
</tr>
<tr>
    <td><%= week2_set3_reps %>+ @ <%= week2_set3_weight %> kg</td>
</tr>
</tbody>
<thead>
<th class="active">Week 3</th>
</thead>
<tbody>
<tr>
    <td><%= week3_set1_reps %> @ <%= week3_set1_weight %> kg</td>
</tr>
<tr>
    <td><%= week3_set2_reps %> @ <%= week3_set2_weight %> kg</td>
</tr>
<tr>
    <td><%= week3_set3_reps %>+ @ <%= week3_set3_weight %> kg</td>
</tr>
</tbody>
<th class="active">Week 4, Deload</th>
<tbody>
<tr>
    <td><%= week4_set1_reps %> @ <%= week4_set1_weight %> kg</td>
</tr>
<tr>
    <td><%= week4_set2_reps %> @ <%= week4_set2_weight %> kg</td>
</tr>
<tr>
    <td><%= week4_set3_reps %> @ <%= week4_set3_weight %> kg</td>
</tr>
</tbody>